.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small .bounce1,
.small .bounce2,
.small .bounce3 {
  width: 6px;
  height: 6px;
  margin: 0 2px;
}

.medium .bounce1,
.medium .bounce2,
.medium .bounce3 {
  width: 10px;
  height: 10px;
  margin: 0 3px;
}

.large .bounce1,
.large .bounce2,
.large .bounce3 {
  width: 14px;
  height: 14px;
  margin: 0 4px;
}

.bounce1,
.bounce2,
.bounce3 {
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce1 {
  animation-delay: -0.32s;
}

.bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}
